order-process-api/src/main/mule/implementation-patch-OrderStatus.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementation-patch-OrderStatusFlow" doc:id="31821221-d87e-4207-9c4a-3d6c5eb668cf" >
		<logger level="INFO" doc:name="Logger" doc:id="7333b20f-35b9-421b-a58d-285969e34e3c" message="start request"/>
		<http:request method="PATCH" doc:name="Request" doc:id="cc724e80-e138-4c9a-bdd3-72b2c50b700a" sendCorrelationId="NEVER" url="https://anypoint.mulesoft.com/mocking/api/v1/links/58b09d13-28d8-4181-8492-344c31338542/orders/{order-id}">
			<http:headers ><![CDATA[#[output application/json
---
{
	"clientSecretKey" :attributes.headers.'clientSecretKey',
	"clientId" : attributes.headers.'clientId',
	"X-session-id" :attributes.headers.'X-session-id',
	"X-correlation-id" : attributes.headers.'X-correlation-id'
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/json
---
{
	"order-id" : attributes.uriParams.'order-id'
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="fdede101-bef4-4437-90b2-6f0f68512ce5" message="Record Updated Flow End"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cf236074-012f-4153-b1aa-79dfeffbb483" >
				<flow-ref doc:name="Flow Reference" doc:id="5fbecf58-62cf-4604-8f26-4e956aa8ef7a" name="errorHandlingFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
