order-process-api/src/main/mule/implementation-get-custEmail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="447d3660-c290-4354-b0c8-c582816a5d69" responseTimeout="10000">
		<http:request-connection host="localhost" port="8082"/>
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bec600eb-32d9-47a0-b66f-d46ac0aefce1" >
		<http:request-connection host="anypoint.mulesoft.com" />
	</http:request-config>
	<flow name="implementation-get-custEmailFlow" doc:id="79c12858-08c0-4c96-a233-c04f64722161" >
		<set-variable doc:name="Client_Id" doc:id="d695f0d5-a8b7-40ec-9e82-21057318ef7d" variableName="clientId" value="#[attributes.headers.clientId]"/>
		<set-variable value="#[attributes.headers.'X-correlation-id']" doc:name="correlation_Id" doc:id="768d07ec-f20e-4a2f-80ae-eb0bcefc2b83" variableName="'X-correlation-id'"/>
		<set-variable value="#[attributes.headers.'X-session-id']" doc:name="session_Id" doc:id="a7fb6cd0-75ee-4488-8307-bfa55e64490d" variableName="'X-session-id'"/>
		<set-variable value="#[attributes.headers.clientSecretKey]" doc:name="clientSecretKey" doc:id="9e202e84-d9a9-4474-ae66-bab237696052" variableName="clientSecretKey"/>
		<http:request method="GET" doc:name="Request" doc:id="9c1c50e7-d31f-4577-936e-3027e7663b02" config-ref="HTTP_Request_configuration" url="https://anypoint.mulesoft.com/mocking/api/v1/links/f6743458-e5f8-46ad-95a0-46170430429d/customers">
			<http:headers ><![CDATA[#[output application/java
---
{
	clientId : vars.clientId,
	'X-correlation-id' : vars.'X-correlation-id',
	'X-session-id' : vars.'X-session.id',
	clientSecretKey : vars.clientSecretKey
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	emailId : attributes.queryParams.cutomerEmailId
}]]]></http:query-params>
		</http:request>
		<set-variable value="#[payload.customerId as Number]" doc:name="Customer_Id" doc:id="0678395b-26c8-457b-8511-0d5628345b1e" variableName="customerId"/>
		<http:request method="GET" doc:name="Request" doc:id="a92be424-791b-4e43-a918-1a06ba533045" config-ref="HTTP_Request_configuration1" url="http://localhost:8082/api/systemOrder">
			<http:headers ><![CDATA[#[output application/java
---
{
	clientId : vars.clientId,
	'X-correlation-id' : vars.'X-correlation-id',
	'X-session-id' : vars.'X-session.id',
	clientSecretKey : vars.clientSecretKey
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	customerId : vars.customerId
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="8fdadec7-4c6b-4987-82d3-bb6fd16b564f" message="Data Retrieved Successfully."/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4e65e476-d02a-49dc-8cb2-c338ad595210" type="ANY">
				<set-payload value="mulemessage.errors." doc:name="Set Payload" doc:id="0a151168-fb2a-4541-95f6-31626ef7526d" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
